html {
	background:#DDD;
}

body {
	margin:0px;
	padding:0px;
	font-family:monospace;
}

#wrap {
	background:#FFF;
	padding:7px;
	width:800px;
	margin:35px auto;
	border-radius:15px;
	box-shadow:0 0 0.7em rgba(1,1,1,0.9);
}

#head {
	color:#FFF;
	background:#306EFF;
	height:80px;
	line-height:80px;
	font-size:75px;
	font-weight:bold;
	text-align:center;
	border-radius:15px;
	margin-bottom:10px;
}

#menu {
	background:#FFFF00;
	height:30px;
	line-height:30px;
	border-radius:15px;
	margin-bottom:10px;
}

#menu ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#menu ul li {
	float:left;
	margin:0px;
}

#menu ul li a{
	display:block;
	width:100px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

a:link, a:visited {
	color:blue;
	font-size:17px;
	font-weight:bold;
	border-radius:15px;
}

a:hover {
	color:#FFFF00;
	background:#306EFF;
	font-size:20px;
}

a:active {
	color:#FFF;
	background:#000;
	font-size:14px;
}

#content {
	background:#FAF8CC;
	height:860px;
	width:450px;
	margin:20px auto;
	border-radius:15px;
	box-shadow:0 0 0.7em rgba(1,1,1,0.8);
}

#content table {
	border:0px solid #000;
	width:65%;
	border-radius:15px;
	margin:10px auto;
	font-size:15px;
	font-family:arial;
}

#content table th {
	background:#306EFF;
	color:#FFFF00;
	border-radius:10px;
	padding:5px;
	font-size:20px;
	margin-bottom:10px;
}

#content table td {
	padding:5px;
}

input[type="text"] {
	border-radius:5px;
	text-indent:2px;
}

#footer {
	color:#FFF;
	margin-top:10px;
	background:#306EFF;
	height:30px;
	line-height:30px;
	border-radius:15px;
	text-align:center;
	box-shadow:0 0 0.3em rgba(1,1,1,0.4);
	font-size:16px;
	
}


	
